/* Font style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background: #ffffff;
}
/* --------------------------------------
heading styles
 ----------------------------------------*/
.header {
  padding: 50px 180px;
  background: rgba(255, 144, 14, 0.1);
}
/* ---------------------------------------
navbar design
------------------------------------------ */

.heading-nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  color: #131313;
  font-weight: 700;
  font-size: 30px;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #424242;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 15px;
}
.header .heading-nav-container nav .menu-btn {
  font-size: 22px;
  cursor: pointer;
  display: none;
}
nav ul li a:hover {
  color: rgb(236, 228, 228);
  background: #ff58339a;
  border-radius: 3px;
}
input[type="checkbox"] {
  display: none;
}

/* -------------------------------
header banner design 
------------------------------- */

.heading-banner-container {
  margin-top: 102px;
  margin-bottom: 33px;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
  margin-bottom: 25px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn-style:hover {
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background: #fff;
  cursor: pointer;
}
.btn-style {
  border: 0;
  border-radius: 10px;
  background-color: #ff900e;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 21px 24px 20px 25px;
}
/* -----------------------------------------
header banner  images design 
-------------------------------------------*/
.heading-img-conatiner img {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

/* ------------------------------------
First section of the main part which include the photo album and feature list
--------------------------------------------------- */

.section-flex-container-1 {
  margin-top: 50px;
  margin-bottom: 130px;
  display: flex;
  align-items: center;
  gap: 73px;
}
.photo-album img {
  width: 342px;
  height: 342px;
  border-radius: 8px;
}
.photo-album {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding-left: 180px;
}
.feature {
  padding-right: 180px;
}
.feature-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
#F {
  color: #ff900e;
  font-weight: 700;
  font-size: 45px;
}
#Q {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
}
.feature-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}
/* -------------------------------------------
main second section design
--------------------------------- */
.section-flex-container-2 {
  margin-left: 180px;
  margin-right: 180px;
}
.grid-for-container-2 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 54px;
}
.experience-side {
  /* padding-right: 180px; */

  /* border: 5px solid red; */
  position: relative;
  width: 100%;
}
.experience-side .btn-style {
  position: absolute;
  top: 90%;
  left: 0%;

  font-weight: 700;
  font-size: 30px;
}

.experience-side img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding-left: 70px;
  padding-bottom: 70px;
}
.love-and-enjoy {
  /* padding-left: 180px; */
  /* border: 5px solid yellow; */
  margin-bottom: 38px;
}
.love-and-enjoy-title {
  color: #131313;
  font-weight: 700;
  font-size: 35px;
  margin-top: 39px;
  margin-bottom: 24px;
  padding-left: 21px;
  border-left: 3px solid #ff900e;
}
.love-and-enjoy-des {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}
.love-and-enjoy-sub-part {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px 42px 30px 30px;
  margin-bottom: 20px;
}
.love-and-enjoy-sub-part-title {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.love-and-enjoy-sub-part-title-des {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
}

/* -------------------------------------------
main third section design
--------------------------------- */

.section-container-3 {
  margin-top: 130px;
  padding-left: 180px;
  padding-right: 180px;
}

.facts-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.facts-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 100px;
}
.facts-box-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 124px;
  padding-left: 60px;
  margin-bottom: 180px;
}
.box {
  padding: 20px 0px 59px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  width: 241.83px;
  height: 200px;
}
.icon-img {
  width: 47.39px;
  height: 45.22px;
  margin-bottom: 8px;
}
.digit {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin-bottom: 5px;
}
.box-description {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
.box {
  transition: 1s;
}
.box:hover {
  background: #ff1d5984;
  transform: scale(1.2) rotate(360deg);
}

/* -------------------------------------------
 fourth section design of main
--------------------------------- */

.section-container-4 {
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 130px;
}
.sponsor-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
  text-align: center;
}
.sponsor-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 50px;
  text-align: center;
}
.sponsor-logos {
  display: flex;
  justify-content: space-around;
}
.logos-img {
  width: 160px;
  height: 50px;
  filter: grayscale(100%);
}

/* ........................................
founder section design which is my 5th section
............................................ */

.section-container-5 {
  margin-right: 180px;
  margin-left: 180px;
  margin-bottom: 100px;
}
.container-5-for-flex {
  display: flex;
  gap: 30px;
}
.founder-img img {
  width: 400px;
  
}
.name {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.position-title {
  color: rgb(238, 20, 20);
  margin-bottom: 8px;
}
.position-des {
  font-weight: 300;
  font-size: 16px;
  color: #727272;
  margin-bottom: 15px;
}
.principal-achievements-for-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap:20px;
  grid-row-gap:20px;

}
.achievement{
  /* border:3px solid #131313; */
  padding: 10px;
}
.achievment-title{
  color: rgb(238, 20, 20);
  margin-bottom: 8px;
}
.achievment-des{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}


/* footer styles */

.footer {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}
.footer p {
  text-align: center;
  background: rgba(255, 143, 14, 0.389);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* -------------------------------------
screen responsive for nav
------------------------------------- */
@media screen and (max-width: 576px) {
  .header {
    padding: 20px 20px;
    background: rgba(255, 144, 14, 0.1);
  }
  .header .heading-nav-container nav .menu-btn {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgba(209, 201, 152, 0.667);
    width: 100%;
    text-align: center;
    border-radius: 10px;
    display: block;

    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a:hover {
    background: none;
  }
  .banner-title {
    font-weight: 350;
    font-size: 32px;
    margin-top: 200px;
  }
  .heading-banner-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
/* -------------------------------------
screen responsive for main first section
------------------------------------- */

@media screen and (max-width: 576px) {
  .feature {
    padding-right: 90px;
    padding-left: 90px;
  }
  .photo-album {
    padding-left: 30px;
    padding-right: 0px;
  }
  .section-flex-container-1 {
    flex-direction: column;
  }
  .photo-album {
    grid-template-columns: repeat(1, 1fr);
  }

  .photo-album img {
    width: 300px;
    height: 300px;
    border-radius: 4px;
  }
}

/* -------------------------------------
screen responsive for main second section
------------------------------------- */

@media screen and (max-width: 576px) {
  .grid-for-container-2 {
    grid-template-columns: 100%;

    margin-left: 10%;
    margin-right: 10%;
  }
  .section-flex-container-2 {
    margin: 0;
  }
  .love-and-enjoy {
    padding: 0;
  }
  .experience-side {
    padding: 0;
  }
  .experience-side img {
    width: 100%;
    padding: 0;
  }
  .experience-side .btn-style {
    position: static;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .principal-achievements-for-grid{
    grid-template-columns: repeat(1,1fr);
  }
}

/* -------------------------------------
screen responsive for main third section
------------------------------------- */

@media screen and (max-width: 576px) {
  .facts-box-container {
    flex-direction: column;
    padding-left: 0;
  }
  .section-container-3 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* -------------------------------------
screen responsive for fourth section
------------------------------------- */
@media screen and (max-width: 576px) {
  .sponsor-logos {
    flex-direction: column;
    gap: 70px;
  }
  .section-container-4 {
    margin-left: 80px;
    margin-right: 100px;
  }
}

/* -------------------------------------
screen responsive for fourth section
------------------------------------- */
@media screen and (max-width: 576px) {
  .container-5-for-flex{
    flex-direction: column;
  }
  .section-container-5{
    margin-left: 50px;
    margin-right:50px ;
  }
  .founder-img img{
    width: 200px;
  }
}


/* -------------------------------------
screen responsive for footer section
------------------------------------- */

@media screen and (max-width: 576px) {
  .footer {
    margin-left: 80px;
    margin-right: 80px;
  }
}
